<ion-header>
  <ion-toolbar>
     <ion-icon name="arrow-back" id="backBtn" (click)="back()"></ion-icon>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div id="options" class="options">
    <ion-label id="label">Push notifications: </ion-label>
    <ion-toggle id="toggle" *ngIf="pushAll == true" checked (ionChange)="enableAllNotifications($event)" color="dark"></ion-toggle>
    <ion-toggle id="toggle" *ngIf="pushAll == false"  (ionChange)="enableAllNotifications($event)" color="dark"></ion-toggle>
  </div>

  <div id="options" class="option">
    <ion-label id="label">New like: </ion-label>
    <ion-toggle id="toggle" *ngIf="like == false" (ionChange)="updateNotification($event,'like', 'true')" color="dark"></ion-toggle>
    <ion-toggle id="toggle" *ngIf="like == true" checked (ionChange)="updateNotification($event,'like', 'false')" color="dark"></ion-toggle>
  </div>

  <div id="options" class="option">
    <ion-label id="label">New follower: </ion-label>
    <ion-toggle id="toggle" *ngIf="follow == false" (ionChange)="updateNotification($event,'follow', 'true')" color="dark"></ion-toggle>
    <ion-toggle id="toggle" *ngIf="follow == true" checked (ionChange)="updateNotification($event,'follow', 'false')" color="dark"></ion-toggle>
  </div>

  <div id="options" class="option">
    <ion-label id="label">New comment: </ion-label>
    <ion-toggle id="toggle" *ngIf="comment == false" (ionChange)="updateNotification($event,'comment', 'true')"  color="dark"></ion-toggle>
    <ion-toggle id="toggle" *ngIf="comment == true" checked  (ionChange)="updateNotification($event,'comment', 'false')"  color="dark"></ion-toggle>
  </div>

  <div id="options" class="option">
    <ion-label id="label">New repost: </ion-label>
    <ion-toggle id="toggle" *ngIf="repost == false" (ionChange)="updateNotification($event,'repost', 'true')" color="dark"></ion-toggle>
    <ion-toggle id="toggle" *ngIf="repost == true" checked (ionChange)="updateNotification($event,'repost', 'false')" color="dark"></ion-toggle>
  </div>

  <div id="options" class="option">
    <ion-label id="label">New upload: </ion-label>
    <ion-toggle id="toggle" *ngIf="upload == false" (ionChange)="updateNotification($event,'upload', 'true')" color="dark"></ion-toggle>
    <ion-toggle id="toggle" *ngIf="upload == true" checked (ionChange)="updateNotification($event,'upload', 'false')" color="dark"></ion-toggle>
  </div>


  <div id="options" class="option">
    <ion-label id="label">Tags: </ion-label>
    <ion-toggle id="toggle" *ngIf="tag == false" (ionChange)="updateNotification($event,'tag', 'true')" color="dark"></ion-toggle>
    <ion-toggle id="toggle" *ngIf="tag == true" checked (ionChange)="updateNotification($event,'tag', 'false')" color="dark"></ion-toggle>
  </div>

  <div id="options" class="option">
    <ion-label id="label">New app features: </ion-label>
    <ion-toggle id="toggle" *ngIf="features == false" (ionChange)="updateNotification($event,'features', 'true')" color="dark"></ion-toggle>
    <ion-toggle id="toggle" *ngIf="features == true" checked (ionChange)="updateNotification($event,'features', 'false')" color="dark"></ion-toggle>
  </div>

  <div id="options" class="option">
    <ion-label id="label">Direct messages: </ion-label>
    <ion-toggle id="toggle" *ngIf="dm == false" (ionChange)="updateNotification($event,'dm', 'true')" color="dark"></ion-toggle>
    <ion-toggle id="toggle" *ngIf="dm == true" checked (ionChange)="updateNotification($event,'dm', 'false')" color="dark"></ion-toggle>
  </div>

  <div id="bottom"></div>

</ion-content>
