<ion-content >

  <ion-refresher id="refresher" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-progress-bar *ngIf="displayLoading == true" id="uploadProgress" type="indeterminate"></ion-progress-bar>

  <div id="Settings">
      <p (click)="showSettings()">Edit profile</p>
  </div>

   <ion-icon name="settings" id="settingsIcon" (click)="notificationsPage()"></ion-icon>

  <div id="content" *ngFor='let profile of ( results | async)'>

    <div id="bannerPlaceholder" *ngIf="profile.cover == undefined">
      <span>Add cover photo</span>
      <ion-input (change)="changeListener($event)" placeholder="Upload Cover Image" type="file" accept="image/*" id="uploadDesc"></ion-input>
    </div>

    <div id="bannerPlaceholder"*ngIf="profile.cover != undefined"  [ngStyle]="{'background-image': 'url(https://res.cloudinary.com/uploaded/image/upload/v1567818053/' + profile.cover+ '.jpg)'}">
      <ion-input (change)="changeListener($event)" placeholder="Upload Cover Image" type="file" accept="image/*" id="uploadDesc"></ion-input>
    </div>

    <div id="croppImageDiv" *ngIf="myImage">
      <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="myImage" *ngIf="myImage"></angular-cropper>

      <p (click)="save()">Save</p>


      <img *ngIf="croppedImage" [src]="croppedImage" />
    </div>

      <div id='profileBlock'>
          <div id="outerCircle" (click)="viewUserFeed(profile.username)" *ngIf="profile.image != undefined"><div id="circle"> <div id='dp' [ngStyle]="{ background: 'url(https://res.cloudinary.com/uploaded/image/upload/v1567818053/' + profile.image+ '.jpg)'}" ></div> </div></div>
          <div id="outerCircle" (click)="viewUserFeed(profile.username)" *ngIf="profile.image == undefined"><div id="circle"> <div id='dp'></div> </div></div>
          <p id='username'>{{ profile.username }} </p>
          <!--<p id='Posts'>{{ profile.total_posts }} Uploaded playlists</p>-->
          <p id='bio'>{{ profile.bio }}</p>
          <a *ngIf="profile.website != '' " href="{{ profile.website }}" id="link"><ion-icon name="globe" id="globe"></ion-icon> {{ profile.website }}</a>
          <span id="location"><ion-icon name="pin" id="globe"></ion-icon>{{ profile.location }}</span>
          <p id='Following'> <span><b>Followers:</b><br/> <font id="Followers">{{ profile.followers }}</font></span>  <span><b>Following: </b><br/> <font id="Followings">{{ profile.following }}</font></span>  </p>
      </div>
        

      <div id='uploadedHeading'>Uploaded playlists</div>
      <div id="playlists" *ngFor='let item of ( Playlists | async)' >
        <div id="playlist" *ngIf="item.playlisted == true"  [ngStyle]="{ background: 'url(https://res.cloudinary.com/uploaded/video/upload/v1567818053/' + item.post_file + '.jpg)'}" >

          <div id="playlistPreview" (click)="viewPost(item.id)" (press)="Playlist(item.id)">
            <ion-icon name="thumbs-up"></ion-icon><span id="metric">{{ item.likes }} likes</span>
          </div>
        </div> 
      </div>
  </div>

  <!--<div *ngFor='let profile of ( results | async)' id="editProfile">
    <div *ngIf="profile.image != undefined" id='dp' [ngStyle]="{ background: 'url(https://res.cloudinary.com/uploaded/image/upload/v1567818053/' + profile.image+ '.jpg)'}" ><div>Edit</div></div>
    <div *ngIf="profile.image == undefined" id='dp'><div>Edit</div></div><br>
    <span>Username: </span><br>
    <input type="text" id="user_name" value="{{ profile.username }}"></ion-input><br><br>
    <span>First Name: </span><br>
    <input type="text" id="first_name" value="{{ profile.first_name }}"></ion-input><br><br>
    <span>Last Name: </span><br>
    <input type="text" id="last_name" value="{{ profile.last_name }}"></ion-input><br><br>
    <span>Bio: </span><br>
    <input type="text" id="bioInput" value="{{ profile.bio}}"></ion-input><br><br>
    <ion-button (click)="updateProfile()">Save</ion-button>
  </div>-->

  <ion-card *ngFor='let profile of ( results | async)' id="editProfile">
    <div *ngIf="profile.image != undefined" id='dp' [ngStyle]="{ background: 'url(https://res.cloudinary.com/uploaded/image/upload/v1567818053/' + profile.image+ '.jpg)'}" >
      <div>Upload profile picture</div>
      <ion-input type="file" id="uploadProfile" (change)="changeListener($event)" type="file" accept="image/*"></ion-input>
    </div>
    <div *ngIf="profile.image == undefined" id='dp'>
      <div>Upload profile picture</div>
      <ion-input type="file" id="uploadProfile" (change)="changeListener($event)" type="file" accept="image/*"></ion-input>
    </div><br>
    <ion-card-header>
      <ion-card-title>{{ profile.username }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <span>Username: </span><br>
      <ion-input type="text" id="user_name" placeholder="Add username" value="{{ profile.username }}"></ion-input><br><br>
      <span>First Name: </span><br>
      <ion-input type="text" id="first_name" placeholder="Add first name" value="{{ profile.first_name }}"></ion-input><br><br>
      <span>Last Name: </span><br>
      <ion-input type="text" id="last_name" placeholder="Add last name" value="{{ profile.last_name }}"></ion-input><br><br>
      <span>Bio: </span><br>
      <ion-input type="text" id="bioInput" placeholder="Add bio" value="{{ profile.bio}}"></ion-input><br><br>
      <ion-button (click)="updateProfile()">Save</ion-button>
    </ion-card-content>
  </ion-card>




 <div id="Profileoverlay" (click)="closeProfile()"></div>

 <div id="closeMenu" (click)="closeMenu()"></div>
</ion-content>