<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" id="backBtn" (click)="back()"></ion-icon>
    <ion-title>messaging</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="chattingWith">{{ name }} {{ sname }}</div> 

  <div id="imageBox">
    <ion-icon name="close" id="closeIcon" (click)="closeImage()"></ion-icon>
    <img src="https://res.cloudinary.com/drm3otayc/image/upload/v1567818053/{{ imageToView }}"/>
  </div>

  <div id="chatsContainer" >
    <div id="messageBox" *ngFor='let message of ( chatsRef$ | async)'>
        <span id="sentByMe" *ngIf='message.sender == this_username'>{{ message.sender }}</span>
        <p id="messageSentByMe" *ngIf='message.sender == this_username'>{{message.message }}</p>
        <div id="rightImage" *ngIf='message.sender == this_username'>
          <img *ngIf='message.file' (click)="viewImage(message.file)" src="https://res.cloudinary.com/drm3otayc/image/upload/v1567818053/{{ message.file }}" />
        </div>

      <span id="notSentByMe" *ngIf='message.sender != this_username'>{{ message.sender }}</span>
      <p id="messageNotSentByMe" *ngIf='message.sender != this_username'>{{message.message }}</p>
      <div id="leftImage" *ngIf='message.sender != this_username'>
        <img *ngIf='message.file' (click)="viewImage(message.file)" src="https://res.cloudinary.com/drm3otayc/image/upload/v1567818053/{{ message.file }}" />
      </div>
    </div>
  </div>

  <div id="messageInput">
    <ion-icon name="attach" id="fileIcon"></ion-icon>
     <ion-icon name="mic"  (click)="captureAudio()" id="micIcon"></ion-icon>
    <ion-input type="file" id="uploadProfile" (change)="changeListener($event)" type="file" accept="image/*"></ion-input>
    <input id="message" (focus)="notBottom()" (blur)="displayBottom()" type="text" placeholder="Message...">
    <ion-icon name="send" id="sendIcon" (click)="sendMessage()"></ion-icon>
  </div> 
</ion-content>
