
#tabs{
    background: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  #tab-button-tab1, #tab-button-tab2, #tab-button-tab3, #tab-button-tab4{
    background:transparent;
  }

ion-tab-button#tab-button-upload {
    background: transparent;
}

  #navIcon{
      color: white;
  }