<ion-tabs id="page">
    
    <ion-tab-bar [ngStyle]="{'background':bgColor}" slot="bottom" id="tabs" *ngIf="bottom == true">

          <ion-tab-button tab="tab1" id="tab1">
            <ion-icon  name="home" [ngStyle]="{'color':tab1 }"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="tab2" id="tab2">
            <ion-icon  name="search" [ngStyle]="{'color':tab2 }"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="upload" id="tab3" >
            <ion-icon name="add-circle-outline" [ngStyle]="{'color':tab3 }"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="tab3" id="tab4">
            <ion-icon  name="notifications" [ngStyle]="{'color':tab4 }"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="tab4" id="tab5">
            <ion-icon  name="person" [ngStyle]="{'color':tab5 }"></ion-icon>
          </ion-tab-button>
    </ion-tab-bar>

    

</ion-tabs>
