div#playlists {
    width: 100%;
    height: auto;
    position: absolute;
    padding-bottom: 20px;
  
    div#playlist {
      width: 32%;
      height: 115px;
      float: left;
      margin-left: 1px;
      background-size: cover !important;
  }
  }
  
  
  #playlistPreview{
    float: left;
    color: white;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    background: #0000003d;
    padding-top: 67%;
    text-align: left;
    padding-left: 7px;
    font-size: 13px;
  }
  
  span#metric {
    margin-left: 5px;
  }


div#searchTags span {
    margin-left: 15px;
    color: gray;
    font-size: 12px;
}

#selectedTag{
    font-weight: bold;
}