<ion-header>
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>-->

  <!-- Searchbar with cancel button always shown -->
  <!-- Animated Searchbar -->
  <ion-searchbar placeholder="Search artists.." [(ngModel)]="searchTerm" animated (ionChange) = "getSearchResults()"></ion-searchbar>
  <div id="searchTags" *ngIf="displaySearchVideos == false">
    <ion-chip (click)="setSearchFilter('artists')">
      <ion-label>Artists</ion-label>
    </ion-chip>
    <ion-chip (click)="setSearchFilter('places')">
      <ion-label>Places</ion-label>
    </ion-chip>
    <ion-chip (click)="setSearchFilter('tags')">
      <ion-label>Tags</ion-label>
    </ion-chip>
  </div>

  <div *ngIf="artists == true">
    <div *ngFor='let item of ( results | async)'>
      <ion-item  id="searchItem" button *ngIf="item.id != userID" (click)="viewProfile(item.id,item.email)">
        <div id="dp" [ngStyle]="{'background-image': 'url(https://uploadedstream.storage.googleapis.com/' + item.image+ ')'}"></div>
        <p>{{ item.first_name + " "  + item.last_name }}<br/><span id="searchUsername">@{{ item.username }}</span> </p>
      </ion-item>
    </div>
  </div>

  <div *ngIf="places == true">
      <p>Places box</p>
  </div>

  <div *ngIf="tags == true">
      <p>tags box</p>
  </div>

  <ion-content *ngIf="displaySearchVideos == true">
    <div id="oneBigOne" (click)="viewPost(one.username)"  *ngFor='let one of ( oneSearchContent | async)'>
      <video class="searchVids" poster="https://res.cloudinary.com/www-uploadedstream-com/video/upload/c_pad,h_360,q_70,w_480/{{one.file }}.png" playsinline webkit-playsinline loop [muted]="true"  autoplay>
        <source src="https://res.cloudinary.com/www-uploadedstream-com/video/upload/c_pad,h_360,q_70,w_480,du_10/{{one.file}}.mp4" type="video/mp4">
      </video>
    </div>

      <div id="searchVids" (scroll)="search_scrollin()" class="searc_videos">
        <div id="playlist" (click)="viewPost(item.username)" *ngFor='let item of ( search_videos )'>
          <video class="searchVids" poster="https://res.cloudinary.com/www-uploadedstream-com/video/upload/c_pad,h_360,q_70,w_480/{{item.file }}.png" playsinline webkit-playsinline loop [muted]="true"  autoplay>
            <source src="https://res.cloudinary.com/www-uploadedstream-com/video/upload/c_pad,h_360,q_70,w_480,du_10/{{item.file }}.mp4" type="video/mp4">
          </video>
        </div> 
        <ion-spinner name="bubbles" color="primary"></ion-spinner>
    </div>
  </ion-content>

  <!-- <div id="bottomPadding"></div> -->
 
</ion-content>
