

<ion-content>
  <ion-refresher id="refresher" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides #slider (ionSlideDidChange)="leftSlide()" (ionSlideTransitionEnd)="ionicSlide()" id="slides" [options]="slideOpts">
    <ion-slide id='slider' (swiperight)="swiped(i)"  (swipeleft)="swiped(i)"  *ngFor='let item of ( results | async); let i = index' (swipeup)="onSwipeUp( item.user_id,item.user_email )">
      <div id="streamIcon">Stream</div>
      <video playsinline webkit-playsinline class="videobcg" id="{{i}}videobcg" poster="https://res.cloudinary.com/uploaded/video/upload/v1567818053/{{ item.file }}.jpg">
        <source src="https://res.cloudinary.com/uploaded/video/upload/q_auto:low/{{ item.file }}.mp4" type="video/mp4">
      </video>
      <div id="PostData">
          <ion-icon class="icon" *ngIf="item.liked == 0" name="heart" id="{{item.post_id}}likeIcon" (click)="like(item.post_id)"></ion-icon><span *ngIf="item.liked == 0" id="{{item.post_id}}likeCount">{{ item.like }}</span><br *ngIf="item.liked == 0">
          <ion-icon class="icon" *ngIf="item.liked == 1" [ngStyle]="{color:'red'}" name="heart" id="{{item.post_id}}likeIcon" (click)="like(item.post_id)"></ion-icon><span *ngIf="item.liked == 1" id="{{item.post_id}}likeCount">{{ item.like }}</span><br *ngIf="item.liked == 1"/>
          <ion-icon class="icon" (click)="repost(item.post_id)" name="share-alt" id="postIcon"></ion-icon><span id="{{item.reposts}}repostCount">{{ item.reposts }}</span><br>
          <ion-icon class="icon"  (click)="share(item.file)" name="share" id="postIcon"></ion-icon><br>
          <ion-icon class="icon" name="text" id="postIcon"></ion-icon>
      </div>


      <div id="userinfo">
         <p>@{{ item.username }}</p>
         <p id="postGenre">{{ item.genre }}</p>
         <p id="postDescription">{{ item.description }}</p>
         <div class="commentBox" id="{{item.post_id}}commentBox">

            <span id="comment" *ngFor='let comment of commentsRef$ | async'>
              <span *ngIf="item.post_id == comment.post">
                <span id="userComment">@{{comment.user}}</span> {{ comment.comment }}<br><br>
              </span>
            </span>

         </div>
         <input type="text"  (focus)="CommentsUp()" (blur)="CommentsDown()" class="commentInput" id="{{item.post_id}}commentInput" placeholder="Add Comment...">
         <span (click)="postComment(item.post_id)" id="commentBtn">Post</span>
      </div>



      <div id="profileImage">
      </div>
      
      <div id="overlay" (click)="playVideo(i)">
      </div>



      <div>{{ results.length }}</div>
    </ion-slide>
    
  </ion-slides>



</ion-content>



