<ion-header>
  <ion-toolbar>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-list id="notifs">
    <ion-item-sliding #item *ngFor='let notif of ( notificationssRef$ | async)?.slice().reverse(); let i = index'>
      <ion-item id="actualNotif">
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile != 'none'" id="dp" [ngStyle]="{ background: 'url(https://uploadedstream.storage.googleapis.com/' + notif.profile+ ')'}"></div>
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile == 'none'" id="dp"></div>
        <span (click)="viewPost(notif.post)"><b>{{ notif.first_name }}</b>  {{ notif.msg }}<span id="{{i}}DateHolder" class="datePlaceholder"></span></span>
        <div *ngIf="notif.post_image" (click)="viewPost(notif.post)" id="postCover">
          <video class="searchVids" playsinline webkit-playsinline loop autoplay [muted]="true" (click)="viewPost(item.id)" >
            <source src="https://firebasestorage.googleapis.com/v0/b/uploaded-9719b.appspot.com/o/{{notif.post_image}}?alt=media" type="video/mp4">
          </video>
        </div>
      </ion-item>
      <ion-item id="actualNotif" *ngIf="notif.to == username">
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile != 'none'" id="dp" [ngStyle]="{ background: 'url(https://uploadedstream.storage.googleapis.com/' + notif.profile+ ')'}"></div>
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile == 'none'" id="dp"></div>
        <span id="msg"><b>{{ notif.first_name }}</b> {{ notif.msg }}<span id="{{i}}DateHolder" class="datePlaceholder"></span></span>
        <div *ngIf="notif.post_image" (click)="viewPost(notif.post)" id="postCover">
          <video class="searchVids" playsinline webkit-playsinline loop autoplay [muted]="true" (click)="viewPost(item.id)" >
            <source src="https://firebasestorage.googleapis.com/v0/b/uploaded-9719b.appspot.com/o/{{notif.post_image}}?alt=media" type="video/mp4">
          </video>
        </div>
      </ion-item>
      <ion-item id="actualNotif" *ngIf="notif.type == 'follow'">
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile != 'none'" id="dp" [ngStyle]="{ background: 'url(https://uploadedstream.storage.googleapis.com/' + notif.profile+ ')'}"></div>
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile == 'none'" id="dp"></div>
        <span id="msg" (click)="viewUser(notif.userid)"><b>{{ notif.first_name }}</b> {{ notif.msg }}<span id="{{i}}DateHolder" class="datePlaceholder"></span></span> 
        <div *ngIf="notif.post_image"  id="postCover" (click)="viewPost(notif.post)">
          <video class="searchVids" playsinline webkit-playsinline loop autoplay [muted]="true" (click)="viewPost(item.id)" >
            <source src="https://firebasestorage.googleapis.com/v0/b/uploaded-9719b.appspot.com/o/{{notif.post_image}}?alt=media" type="video/mp4">
          </video>
        </div>
        <span id="{{i}}DateHolder" class="datePlaceholder"></span>
      </ion-item>
      <!-- <ion-item-options side="start" id="options">
        <button ion-button id='viewUser'  (click)="viewUser(notif.userid)"><ion-icon name="contact"></ion-icon><br>User</button>
        <button ion-button id='viewPost' *ngIf="notif.the_receiver == username" (click)="viewPost(notif.post)"><ion-icon name="videocam"></ion-icon><br>Post</button>
        <button ion-button id='viewPost' *ngIf="notif.comment_to== username" (click)="viewPost(notif.post)"><ion-icon name="videocam"></ion-icon><br>Post</button>
        <button ion-button id='viewChat' (click)="viewChat(notif.userid,notif.first_name,notif.last_name,notif,username)"><ion-icon name="text"></ion-icon><br>Chat</button>
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>

</ion-content>
