
@font-face{
    font-family: 'helvetica';
    src: url(../fonts/fonts/segoe-pro-cufonfonts/SegoePro-Regular.ttf);
  }
  
  @font-face{
    font-family: 'helveticaB';
    src: url(../fonts/fonts/segoe-pro-cufonfonts/SegoeProDisplay-Semibold.ttf);
  }


  p, span{
      font-family: 'helvetica' !important;
  }

div#dp {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.18);
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: cover !important;
    margin-left: 10px;
    margin-top: 10px;
}

span.notifDetails {
    width: 72%;
}

div#currentNotification {
    width: 100%;
    height: 80%;
    position: fixed;
    overflow: scroll;
    text-align: -webkit-center;
}

video.searchVids {
    width: 100%;
    height: 100%;
    margin-left: 15px;
    border-radius: 13px;
}

ion-item-options#options {
    margin-top: 10px;
}

#viewUser{
    background: #4CAF50;
    color: white;
    font-size: 14px;
    padding: 15px;
}

#viewChat{
    background: black;
    color: white;
    font-size: 14px;
    padding: 15px;
}

.datePlaceholder {
    font-size: 12px;
    color: gray;
    margin-left: 4px;
}

div#postCover {
    width: 40px;
    height: 40px;
    float: right;
    // background: #f7f7f7;
    right: 0;
    position: absolute;
    margin-right: 30px;
    border-radius: 5px;
    background-size: cover !important;
}

#viewPost{
    background: #607D8B;
    color: white;
    font-size: 14px;
    padding: 15px;
}

#notifs{
    background: #f7f7f7;
    #actualNotif{
        font-size: 13px;
        margin-top:10px;

        #msg{
            margin-left: 2px;
            width: 189px;
            margin-bottom: 14px;
            padding-top: 10px;
        }
    }
}