<ion-header>
  <ion-toolbar>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-list id="notifs">
    <ion-item-sliding #item *ngFor='let notif of ( notificationssRef$ | async)?.slice().reverse(); let i = index'>
      <ion-item id="actualNotif" *ngIf="notif.the_receiver == username">
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile != 'none'" id="dp" [ngStyle]="{ background: 'url(https://res.cloudinary.com/uploaded/image/upload/v1573941740/' + notif.profile+ '.jpg)'}"></div>
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile == 'none'" id="dp"></div>
        <span (click)="viewPost(notif.post)"><b>{{ notif.first_name }}</b>  {{ notif.msg }}<span id="{{i}}DateHolder" class="datePlaceholder"></span></span>
        <div *ngIf="notif.post_image" (click)="viewPost(notif.post)" id="postCover" [ngStyle]="{ background: 'url(https://res.cloudinary.com/uploaded/video/upload/v1567818053/' + notif.post_image+ '.jpg)'}"></div>
      </ion-item>
      <ion-item id="actualNotif" *ngIf="notif.to == username">
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile != 'none'" id="dp" [ngStyle]="{ background: 'url(https://res.cloudinary.com/uploaded/image/upload/v1573941740/' + notif.profile+ '.jpg)'}"></div>
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile == 'none'" id="dp"></div>
        <span id="msg"><b>{{ notif.first_name }}</b> {{ notif.msg }}<span id="{{i}}DateHolder" class="datePlaceholder"></span></span>
        <div *ngIf="notif.post_image" (click)="viewPost(notif.post)" id="postCover" [ngStyle]="{ background: 'url(https://res.cloudinary.com/uploaded/video/upload/v1567818053/' + notif.post_image+ '.jpg)'}"></div>
      </ion-item>
      <ion-item id="actualNotif" *ngIf="notif.type == 'follow'">
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile != 'none'" id="dp" [ngStyle]="{ background: 'url(https://res.cloudinary.com/uploaded/image/upload/v1573941740/' + notif.profile+ '.jpg)'}"></div>
        <div (click)="viewUser(notif.userid)" *ngIf="notif.profile == 'none'" id="dp"></div>
        <span id="msg" (click)="viewUser(notif.userid)"><b>{{ notif.first_name }}</b> {{ notif.msg }}<span id="{{i}}DateHolder" class="datePlaceholder"></span></span> 
        <div *ngIf="notif.post_image"  id="postCover" (click)="viewPost(notif.post)" [ngStyle]="{ background: 'url(https://res.cloudinary.com/uploaded/video/upload/v1567818053/' + notif.post_image+ '.jpg)'}">
        </div>
        <span id="{{i}}DateHolder" class="datePlaceholder"></span>
      </ion-item>
      <!-- <ion-item-options side="start" id="options">
        <button ion-button id='viewUser'  (click)="viewUser(notif.userid)"><ion-icon name="contact"></ion-icon><br>User</button>
        <button ion-button id='viewPost' *ngIf="notif.the_receiver == username" (click)="viewPost(notif.post)"><ion-icon name="videocam"></ion-icon><br>Post</button>
        <button ion-button id='viewPost' *ngIf="notif.comment_to== username" (click)="viewPost(notif.post)"><ion-icon name="videocam"></ion-icon><br>Post</button>
        <button ion-button id='viewChat' (click)="viewChat(notif.userid,notif.first_name,notif.last_name,notif,username)"><ion-icon name="text"></ion-icon><br>Chat</button>
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>

</ion-content>
