.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  
  img.logofont {
    height: 23px;
    filter: grayscale(1);
  }
  
  ion-title {
    text-align: -webkit-center;
  }
  
  .homeUpload{
    float: left;
    font-size: 16px;
    // margin-top: 7px;
  }
  
  .homeSend{
    float: right;
    font-size: 16px;
    transform: rotate(-49deg);
    // margin-top: 7px;
  
  }
  
  div#Loader {
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #FF9800;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  
  .videobcg {
    width: inherit;
    height: inherit;
    object-fit: cover;
    background: black;
  }
  
  #slides{
    width: 100%;
    height: 100%;
    position: fixed !important;
    top: 0;
  }
  
  p#postGenre {
    font-weight: bold;
  }
  
  div#PostData {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 20%;
    color: white;
    padding: 5px;
    border-radius: 2px;
    font-size: 45px;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  
    span {
      font-size: 11px;
    }
  }
  
  
  div#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.17);
    z-index: 1;
  }
  
  ::placeholder{
    color: white;
  }

  input.commentInput {
    color: white;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    width: 85%;
    outline: 0;
    padding: 5px;
    height: 42px;
    border: 1px solid white;
    border-radius: 12px;
    padding-left: 15px;
  }
  
  #commentBtn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .commentBox {
    width: 100%;
    height: 135px;
    text-align: left;
    padding-top: 9px;
    padding-bottom: 5px;
    overflow: scroll;
    margin-top: 5px;
  }
  
  div#userinfo {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 13px;
    left: 0;
    margin-bottom: 100px;
    margin-left: 8px;
    z-index: 100;
    width:95%;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
   
    p {
      margin: 0;
      text-align: left;
    }
  
    #postDescription{
      font-weight: bold;
      font-size: 13px;
    }
  
  }
  
  
  div#streamIcon {
    position: absolute;
    top: 0;
    margin-top: 20px;
    background: #0000002e;
    padding: 12px;
    border-radius: 27px;
    color: white;
    font-size: 12px;
    width: 100px;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  .icon{
    margin-top: 12px;
  }
  
  #userComment{
    font-size: 11px;
    font-weight: bold;
  }
  
  #comment{
    font-size:13px;
  }
  
  
  #share {
    position: absolute;
    z-index: 999;
    width: 54px;
    right: 0;
    margin-right: 25px;
    top: 0;
    margin-top: 50%;
  }

  ion-icon#closeIcon {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 0px;
    right: 0;
    margin-top: 25px;
    margin-right: 4px;
    z-index: 1000000;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

span#commentsHeading {
  font-weight: lighter;
  width: 100%;
  float: left;
  text-align: left;
}

ion-icon#profileIocn {
  font-size: 50px;
  color: white;
}
  
  div#profileImage {
    position: absolute;
    width: 100%;
    height: 50px;
    background: transparent;
    float: right;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    z-index: 10000;

    span{
      float: left;
      margin-top: 18%;
      margin-left: 10px;
      color: white;
      font-size: 12px;
      font-weight: bold;
    }
  
      div#image {
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.49);
        margin-left: 15px;
        margin-top: 13%;
        border-radius: 50%;
        background-size: cover;
        float: left;
    }
  
    p{
      text-align: left;
      margin-left: 23px;
      color: white;
      font-size: 13px;
    }
  }
  
  div#heartAnimations {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    text-align: right;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    padding-right: 30px;
    font-size: 30px;
    margin-bottom: 251px;
    display: none;
  
  
    ion-icon#animation1 {
      color: #E91E63;
      margin-right: 15px;
    }
    ion-icon#animation2 {
      color: #E91E63;
      margin-left: 20px;
    }  
    ion-icon#animation3 {
      color: #E91E63;
      margin-right: 30px;
    }  
    ion-icon#animation4 {
      color: #E91E63;
    }
  }



  .allComments {
    width: 100%;
    height: 300px;
    background: white;
    position: absolute;
    z-index: 1016;
    bottom: 0;
    border-top-right-radius: 10px;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    display: none;;
    border-top-left-radius: 10px;
  
  
    p{
      float: left;
      padding: 0px;
      margin: 0px;
      margin-left: 6px;
      font-size: 13px;
  }
  
    span{
      float: left;
      font-size: 12px;
      color: black;
      font-weight: bold;
      margin-left: 15px;
      overflow-y: scroll;
  }
  
    #allcomComment{
      width: 100%;
      margin-top: 22px;
      height: auto;
      float: left;
      padding: 4px;
      color: #292929;
    }
  }
  
  
  #fullComments {
    width: 100%;
    bottom: 0;
    position: absolute;
  
    .commentInput2{
      border: 1px solid #00000069;
      float: left;
      margin-bottom: 20px;
      margin-left: 15px;
      color: black;
      width: 69%;
      outline: 0;
      padding: 5px;
      height: 42px;
      border-radius: 12px;
      padding-left: 15px;
  
  
    }
  
    ::placeholder{
      color: black;
      font-size: 12px;
    }
  
    #commentBtn{
      float: left;
      color: black;
      margin-left: 20px;
      margin-top: 15px;
    }
  }