
<ion-content>
    <ion-slides id="slides" [options]="slideOpts">
    <ion-slide id='slider' *ngFor='let item of ( results | async); let i = index'>
      <div id="streamIcon">Playlisted</div>
      <ion-icon name="close" id="closeIcon" (click)="back()"></ion-icon>
      <video autoplay playsinline webkit-playsinline class="videobcg" id="{{i}}videobc" poster="https://res.cloudinary.com/uploaded/video/upload/v1567818053/{{ item.file }}.jpg">
        <source src="https://res.cloudinary.com/uploaded/video/upload/q_auto:low/{{ item.file }}.mp4" type="video/mp4">
      </video>
      <div id="PostData">
          <ion-icon class="icon" *ngIf="item.liked == 0" name="heart" id="{{item.post_id}}likeIcon" (click)="like(item.post_id,i)"></ion-icon><span *ngIf="item.liked == 0" id="{{item.post_id}}likeCount">{{ item.like }}</span><br *ngIf="item.liked == 0">
          <ion-icon class="icon" *ngIf="item.liked == 1" [ngStyle]="{color:'#E91E63'}" name="heart" id="{{item.post_id}}likeIcon" (click)="like(item.post_id,i)"></ion-icon><span *ngIf="item.liked == 1" id="{{item.post_id}}likeCount">{{ item.like }}</span><br *ngIf="item.liked == 1"/>
          <ion-icon class="icon" (click)="repost(item.post_id)" name="share-alt" id="postIcon"></ion-icon><span id="{{item.reposts}}repostCount">{{ item.reposts }}</span><br>
          <ion-icon class="icon"  (click)="share(item.file)" name="share" id="postIcon"></ion-icon><br>
          <ion-icon class="icon" (click)="showAllComments(item.post_id)" name="text" id="postIcon"></ion-icon><span id="{{item.post_id}}CommentsCount">0</span>
      </div>


      <div id="userinfo" [ngStyle]="{'bottom': styleExp, 'top':styleTop, 'margin-top':styleMarginTop}">
         <p>@{{ item.username }}</p>
         <p id="postDescription">{{ item.description }}</p>
         <span id="commentsHeading">Comments</span><br/>
         <div class="commentBox" id="{{item.post_id}}commentBox">
            <span id="comment" *ngFor='let comment of commentsRef$ | async'>
              <span *ngIf="item.post_id == comment.post">
                <span id="userComment">@{{comment.user}}</span> {{ comment.comment }}<br><br>
              </span>
            </span>

         </div>
         <input type="text" (blur)="moveDownComments(item.post_idComments)" (focus)="moveUpComments()" class="commentInput" id="{{item.post_id}}commentIn" placeholder="Add Comment...">
         <span (click)="postComment(item.post_id)" id="commentBtn">Post</span>
      </div>


      <div id="profileImage" *ngIf="item.image">
        <div (click)="onSwipeUp( item.user_id,item.user_email,i )" id="image" [ngStyle]= "{'background-image': 'url(https://res.cloudinary.com/uploaded/image/upload/v1567818053/'+ item.image +'.jpg)'}"><ion-icon id="profileIocn" name="contact" *ngIf="item.image == 'none'"></ion-icon></div>
        <span (click)="onSwipeUp( item.user_id,item.user_email,i )">@{{ item.username }}</span>
      </div>


      <div  class="{{i}}heartAnimations"  id="heartAnimations">
        <ion-icon class="icon"  class="animated infinite fadeOutUp 2s" name="heart" id="animation1"></ion-icon><br>
        <ion-icon class="icon"  class="animated infinite fadeOutUp 2s" name="heart" id="animation2"></ion-icon><br>
        <ion-icon class="icon"  class="animated infinite fadeOutUp 2s" name="heart" id="animation3"></ion-icon><br>
        <ion-icon class="icon"  class="animated infinite fadeOutUp 2s" name="heart" id="animation4"></ion-icon>
      </div>

      
      <div id="overlay" (click)="playVideo(i)">
      </div>



    <div id="{{item.post_id}}allComments"  class="allComments animated fadeInUp">
      <div *ngFor='let comment of (commentsRef$ | async)' id="{{item.post_id}}allComments">
        <div id="allcomComment" *ngIf="item.post_id == comment.post"><span>@{{comment.user}}</span><p>{{ comment.comment }}</p></div>
      </div>

      <div id="fullComments">
        <input type="text"  (focus)="CommentsUp(i)" (blur)="CommentsDown(i)" class="commentInput2" id="{{item.post_id}}commentInput2" placeholder="Add Comment...">
        <span (click)="postComment2(item.post_id)" id="commentBtn">Post</span>
      </div>
    </div>



      <div>{{ results.length }}</div>
    </ion-slide>
    
  </ion-slides>
</ion-content>
