
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  div#loaderHolder {
    width: 100%;
    text-align: -webkit-center;
    position: absolute;
    top: 50%;
  }

  div#videoPlaceholder {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000000000;
    display:none;
    background: black;
}

#videobcg {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transform: scale(1.06); /* scale up to hide the edge blur */
}

#content{
  text-align:-webkit-center;
}

#dp {
  width: 80px;
  height: 80px;
  background: rgba(128, 128, 128, 0.41);
  background-size:cover !important;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

div#profileBlock {
  width: 100%;
  height: auto;
  background: transparent;
  text-align: left;
  margin-top: 70px;


  #Followers{
    font-size: 16px;
    margin-top: 0px;
  }

  #username{
    margin-bottom: 5px;
    font-size: 13px;
    margin-left: 15px;
}

}

div#followDiv {
  width: 100%;
  height: 35px;
}

#Following{
  height: 28px;
  text-align: -webkit-center;
  width: 100%;
  font-size: 13px;

  span {
    margin-left: 15px;
    float: left;
}

}

div#uploadedHeading span {
  width: 50%;
  float: left;
  border-right: 1px solid #c7c6c6;
}


#postCont{
  display: block;
}

div#playlists:empty {
  display: none;
}

p#followBtn {
  margin: 0px;
  padding: 0px;
  width: 80px;
  height: 24px;
  background: orange;
  color: white;
  padding-top: 3px;
  border-radius: 7px;
  cursor: pointer;
  float: left;
  margin-left: 6px;
  font-size: 15px;
  margin-top: 10px;
}


#ufollowBtn{
  margin: 0px;
  padding: 0px;
  width: 150px;
  height: 28px;
  background: #F44336;
  color: white;
  padding-top: 4px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 22px;
}

p#Posts {
  font-size: 13px;
  color: gray;
  margin: 0px;
  margin-left: 15px;
}

p#bio {
  text-align: left;
  margin-left: 15px;
  color: gray;
  font-size: 13px;
}


div#uploadedHeading {
  width: 100%;
  height: 35px;
  text-align: -webkit-center;
  margin-top: 10px;
  border: 1px solid rgba(128, 128, 128, 0.09019607843137255);
  padding-top: 10px;
  font-size: 14px;
}


ion-icon#messageBtn {
  font-size: 22px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}

#profileName{
  font-size: 15px;
  margin-top: 5px;
  text-align: -webkit-center;
}

p#messageBtn {
  text-decoration: underline;
  color: gray;
  margin-bottom: 17px;
  cursor: pointer;
}

#tagsCont{
  display: block;
}


div#playlists {
  width: 33%;
  height: auto;
  padding-bottom: 20px;
  top: 0;
  float: left;
  left: 0;


  div#playlist {
    width: 100%;
    height: 115px;
    background-size: cover !important;
    left: 0;
  }
}


#playlistPreview{
  float: left;
  color: white;
  font-weight: lighter;
  width: 100%;
  height: 100%;
  background: #0000003d;
  padding-top: 67%;
  text-align: left;
  padding-left: 7px;
  font-size: 13px;
}

span#metric {
  margin-left: 5px;
}

#circle{
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: white;
  padding-top: 3px;
  position: absolute;
  z-index: 1;
}

ion-icon#profileIocn {
  font-size: 80px;
  color: white;
}

#link{
  margin-left: 15px;
  font-size: 12px;
  text-decoration: none;
}

#globe{
  color: black;
}

span#location {
  font-size: 12px;
  margin-left: 5px;
  color: #FF9800;
}


div#bannerPlaceholder {
  width: 100%;
  height: 120px;
  background-color: #c7c6c6 !important;
  position: absolute;
  z-index: 1;
  background-size: cover;
  top:0;
  background-position: center;;

  span{
    position: absolute;
    margin-left: 137px;
    margin-top: 32px;
    color: gray;
  }

}

#outerCircle{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#FFC107), to(#FF5722));
  background: linear-gradient(to right, #FFC107, #FF5722);
  padding-top: 4px;
  margin-left: 15px;

}

// #bottomBar{
//   background: #000000;
//   bottom: 0;
//   position: fixed;
//   width: 100%;
//   height: 57px;
// }