
  
  <ion-content >
  
  
  
  <!---upload button-->
    <div id='progressDiv'>
        <div id='Loader'></div>
    </div>
  
    <div id="content" *ngFor='let profile of ( userProfile | async)'>

        <div id="bannerPlaceholder"  *ngIf="profile.cover == undefined">
        </div>

        <div id="bannerPlaceholder" *ngIf="profile.cover != undefined" [ngStyle]="{'background-image': 'url(https://uploadedstream.storage.googleapis.com/' + profile.cover+ ')'}">
        </div>
  
        <div id='profileBlock'>
             <div id="outerCircle" (click)="viewUserFeed(profile.username)" *ngIf="profile.image != undefined"><div id="circle"><div  id='dp' [ngStyle]="{ 'background-image': 'url(https://uploadedstream.storage.googleapis.com/'+profile.image+')'}" ></div></div></div>
             <div id="outerCircle" (click)="viewUserFeed(profile.username)" *ngIf="profile.image == undefined"><div id="circle"><div *ngIf="profile.image == undefined" id='dp'><ion-icon id="profileIocn" name="contact" *ngIf="profile.image == undefined"></ion-icon>  </div></div></div>
            <p id='username'>{{ profile.username }} </p>
            <!--<p id='Posts'>{{ profile.total_posts }} Uploaded playlists</p>-->
            <p id='bio'>{{ profile.bio }}</p>
            <span *ngIf="profile.website != '' " (click)="openWebsite(profile.website)" id="link"><ion-icon name="musical-notes" id="globe"></ion-icon><!--{{ profile.website }}--></span>
            <span id="location" *ngIf="profile.location != '' " ><ion-icon name="pin" id="globe"></ion-icon>{{ profile.location }}</span>
            <p id='Following'> <span (click)="follow(profile.username,1)"><b>Followers:</b><br/> <font id="Followers">{{ profile.followers }}</font></span>  <span (click)="follow(profile.username,0)"><b>Following: </b><br/> <font id="Followings">{{ profile.following }}</font></span>  </p>
        </div>
         <div id="followDiv" *ngIf="following == false"><p id='followBtn' (click)="Follow(profile.id,'Follow')">Follow</p>   <ion-icon name="mail" id='messageBtn' (click)="Message(profile.first_name, profile.last_name,profile.username,profile.id)">Message</ion-icon></div>
        <div id="followDiv" *ngIf="following == true"><p id='followBtn' (click)="Follow(profile.id,'Unfollow')">Unfollow</p> <ion-icon name="mail" id='messageBtn' (click)="Message(profile.first_name, profile.last_name,profile.username,profile.id)">Message</ion-icon></div>
        
  
        <div id='uploadedHeading'><span>Playlisted</span>  <span>Reposts</span> </div>
        <ion-slides>
            <ion-slide id="postCont"> 
              <div id="playlists" *ngFor='let item of ( Playlists | async)' >
                <div id="playlist" *ngIf="item.playlisted == true">
                  <video class="searchVids" poster="https://res.cloudinary.com/www-uploadedstream-com/video/upload/c_pad,h_360,q_70,w_480,du_10/{{item.post_file}}.png" playsinline webkit-playsinline loop autoplay [muted]="true" (click)="viewPost(item.id)" >
                    <source src="https://res.cloudinary.com/www-uploadedstream-com/video/upload/c_pad,h_360,q_70,w_480,du_10/{{item.post_file}}.mp4" type="video/mp4">
                  </video>
                  <!-- <div id="playlistPreview" (click)="viewPost(item.id)" (press)="Playlist(item.id)">
                    <ion-icon name="thumbs-up"></ion-icon><span id="metric">{{ item.likes }} likes</span>
                  </div> -->
                </div> 
              </div>
            </ion-slide>

            <ion-slide id="tagsCont">
                <div id="playlists" *ngFor='let item of ( Playlists | async)' >
                    <div id="playlist" *ngIf="item.reposted == true"  [ngStyle]="{ background: 'url(https://uploadedstream.storage.googleapis.com/' + item.post_file + ')'}" >
                      <!-- <div id="playlistPreview" (click)="viewPost(item.id)" (press)="Playlist(item.id)">
                        <ion-icon name="thumbs-up"></ion-icon><span id="metric">{{ item.likes }} likes</span>
                      </div> -->
                    </div> 
                  </div>
            </ion-slide>
        </ion-slides>
    </div>
   
  </ion-content>