<ion-header>
    <ion-toolbar>
      <ion-title id="profileName" *ngFor='let profile of ( userProfile | async)'> 
          {{ profile.first_name }} {{ profile.last_name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="videoPlaceholder">

  </div>
  
  <ion-content >
  
  
  
  <!---upload button-->
    <div id='progressDiv'>
        <div id='Loader'></div>
    </div>
  
    <div id="content" *ngFor='let profile of ( userProfile | async)'>
  
        <div id='profileBlock'>
            <div *ngIf="profile.image != undefined" id='dp' [ngStyle]="{ 'background-image': 'url(https://res.cloudinary.com/uploaded/image/upload/v1567818053/'+profile.image+'.jpg)'}" ></div>
            <div *ngIf="profile.image == undefined" id='dp'></div>
            <p id='username'>{{ profile.username }} </p>
            <p id='Posts'>{{ profile.total_posts }} Uploaded playlists</p>
            <p id='Following'> <span><b>Followers:</b><br/> <font id="Followers">{{ profile.followers }}</font></span>  <span><b>Following: </b><br/> <font id="Followings">{{ profile.following }}</font></span>  </p>
        </div>
        <p id='bio'>{{ profile.bio }}</p>
        <p *ngIf="profile.already_following == false" id='followBtn' (click)="Follow(profile.id)">Follow</p>
        <p *ngIf="profile.already_following == true" id='ufollowBtn' (click)="Follow(profile.id)">Unfollow</p>
        <p *ngIf="profile.already_following == true" id='messageBtn' (click)="Message(profile.first_name, profile.last_name,profile.username,profile.id)">Message</p>
  
        <div id='uploadedHeading'>Uploaded playlists</div>
        <div id="playlists">
            <div id="playlist"  *ngFor='let item of ( Playlists | async)'  [ngStyle]="{ 'background': 'url(https://res.cloudinary.com/uploaded/video/upload/v1567818053/' + item.post_file + '.jpg)'}" >
    
              <div id="playlistPreview" (click)="viewPost(item.id)">
                <ion-icon name="thumbs-up"></ion-icon><span id="metric">{{ item.likes }} likes</span>
              </div>
            </div> 
        </div>
    </div>
   <div id="bottomBar"></div>
  </ion-content>