#logout{
    color: red;
    margin-left: 15px;
    margin-top: 20px;
}

ion-icon#backBtn {
    float: left;
    margin-left: 15px;
    margin-top: 3px;
    font-size: 23px;
}

ion-title.md.title-md.hydrated {
    padding-left: 8px;
}