<ion-header>
  <ion-toolbar>
  <ion-icon name="arrow-back" id="backBtn" (click)="back()"></ion-icon>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item (click)="navigateToNotifications()" button tappable>
  <ion-label>
    Notifications
  </ion-label>
</ion-item>


<ion-item button tappable>
  <ion-label>
    Privacy
  </ion-label>
</ion-item>

<ion-item button tappable>
  <ion-label>
    Security
  </ion-label>
</ion-item>


<ion-item button tappable>
  <ion-label>
    Video Resolution
  </ion-label>
</ion-item>

<ion-item button tappable (click)="openTermsOfService()">
  <ion-label>
    Terms of service
  </ion-label>
</ion-item>

<ion-item button tappable (click)="openPrivacyPolicy()">
  <ion-label>
    Privacy policy
  </ion-label>
</ion-item>

<ion-item button tappable>
  <ion-label>
    Feedback
  </ion-label>
</ion-item>


<ion-label>
  <div id="logout">
    Logout
  </div>
</ion-label>

    

</ion-content>
